{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'db_monitor/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <title>DB Monitor</title>
</head>
<body>
    <header class="header">
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button  class="header-item logout" type="submit">Cerrar Sesion</button>
            </form>
            <span>|</span>
            <a href="{% url 'status' %}" class="header-item" >Monitor</a>
            <span>|</span>
            <a href="{% url 'mensajes' %}" class="header-item">Mensajería</a>
            
    </header>
    <main>

    <h1 id="title">MONITOR DE BASE DE DATOS</h1>
    {% block app %}
    {% endblock %}



    </main>
    <footer class="footer">
        <p>Direccion General de Informatica y Comunicaciones, Municipio de Juárez</p>
    </footer>
    {% block scripts %}
    {% endblock %}




    
</body>
</html>